{{define "header"}}
<link rel="stylesheet" href="/static/css/header.css">
<link rel="stylesheet" href="/static/css/lib.css">
<script src="/static/js/header.js" type="module" defer></script>

<header class="site-header">
    <h1 class="greeting no-select" id="greeting">AxiomOS</h1>
    <button class="settings-btn" id="settingsBtn">
        <img src="/static/assets/icons/settings-cog.svg" alt="Settings">
    </button>
</header>

<dialog id="settingsModal" class="settings-modal">
    <div class="settings-content">
        <h2 class="no-select">Settings</h2>
        <div class="settings-section">
            <h3 class="no-select">Background</h3>
            <div class="control-section">
                <input type="file" id="bgUpload" accept="image/*" style="display: none">
                <button id="uploadBtn" class="button">Change Background</button>
                <button id="resetBtn" class="button">Reset to Default</button>
            </div>
        </div>

        <div class="settings-section">
            <h3 class="no-select">Background</h3>
            <div class="control-section">
                <button id="toggleMilitaryTime" class="button"></button>
            </div>
        </div>

        <button class="button" id="closeSettings">Close</button>
    </div>
</dialog>
{{end}}